/* css cards */
.containerProducto {
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
  }
  
  .tituloProducto{
    font-size: 18px;
    font-weight: bold;
    color: rgb(16, 128, 16);
    text-align: center;
  }
  .imgProducto{
    border-radius: 15%;
  }
  .precioProducto {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }
  
  .descripcionProducto {
    text-align: center;
    color: #777;
  }
  
  @media screen and (max-width: 480px) {
    .containerProducto {
      width: 100%;
    }
  
    .tituloProducto{
      font-size: 30px;
    }
  
    .precioProducto,
    .descripcionProducto {
      font-size: 24px;
    }
  }
  /* css cards */
  /* css lista productos */
  .containerLista {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .descLista {
    font-size: 24px;
    color: #444;
    width: 70%;
  }
  .tituloLista{
    color: rgb(16, 128, 16);
  }
  .descLista{
    color: #2D5940;
    text-align: center;
  }
  .wrapperLista {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 480px) {
    .tituloLista {
      text-align: center;
    }
  
    .descLista {
      width: 90%;
      text-align: center;
    }
  }
  /* css lista productos */