
/* css cards */
/* .containerProducto {
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
  }   */
.item{
  width: 300px;
}
  .item .img  img{
    height: 300px;
    transition: 0.5s;
  }

  .item .img{
    background-image:linear-gradient(to top right, 
  #fff, rgb(82, 177, 82)
    ) ;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 5px;
  }

  .item .content{
    background-color: #ffffff24;
    border-radius: 30px;
    padding: 30px 30px;
    transform: translate(0, -50px);
    backdrop-filter: blur(20px);
    color: black;
  }

  .tituloProducto{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .item .content .precioProducto {
    font-size: large;
  letter-spacing: 3px;
    margin-bottom: 3px;
  }
  
  .item .content .descripcionProducto {
    opacity: .7;
    margin: 10px 0;
    font-size: 15px;
  }
  .item .content .add{
    background-color: rgb(16, 128, 16);
    padding: 12px;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    margin: 10px;
  }

  .item:hover img{
    transform: translate(0, -50px);
  }
  @media screen and (max-width: 480px) {
    .containerProducto {
      width: 100%;
    }
  
    .tituloProducto{
      font-size: 30px;
    }
  
    .precioProducto,
    .descripcionProducto {
      font-size: 24px;
    }
  }
 
  .containerLista {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .descLista {
    font-size: 24px;
    color: #444;
    width: 70%;
  }
  .tituloLista{
    color: rgb(16, 128, 16);
  }
  .descLista{
    color: #2D5940;
    text-align: center;
  }
  .wrapperLista {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 480px) {
    .tituloLista {
      text-align: center;
    }
  
    .descLista {
      width: 90%;
      text-align: center;
    }
  }
  /* css lista productos */