@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

.formularioRegistro{
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.register{
  max-width: 1000px;
  width: 100vw;
  display:flex;
  border: 1px solid rgba(3,101,6,1) ;
  border-radius: 5px;
  background: rgb(189,208,35);
  background: radial-gradient(circle, rgba(189,208,35,1) 0%, rgba(103,201,70,1) 84%, rgba(3,101,6,1) 100%);
}

.register span{
  color:  #e9ecef;
}
.registroTitulo{
  color:  #e9ecef;
}
#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef ;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: rgb(16, 128, 16);
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid rgb(16, 128, 16) ;
}

.flex{
  display: flex;
  gap: 1em;
  
}

.flex-col{
  flex-direction: column;
  align-items: center;
}

.imagenRegistro{
  width: 100%;
  object-fit: cover;
 align-self: center;
  
}

@media screen and (min-width: 756px)  {
  .imagenRegistro{
    display: initial;
  }
}