.navbarPaginas{
background-color:#b0d4e7;
padding: 20px;

}

.navbarExpand{
    background-color:#b0d4e7;
}

.itemsNavb:hover{
    position: relative;
    color: white  !important;
    text-transform:initial;
    transition: color var(--time);
	display: inline-block;
	height: 2em;
	overflow: hidden;
}

.footer {
    
    bottom: 0px;
    width: 100%;
    height: auto;
  }

  /*Estilos de la pagina inicio*/
  
  .mcd-content{
    position: relative;
    flex: 1 0 auto;
  }
  
  .mcd-section{
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
    border: 2px solid #e1e1e1;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 275px;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding: 0 12px 0 6px;
    height: 80px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    padding-left: 0;
    border-left: 6px solid #ffbc0d;
  }

  .imagen-category{
    color: #6f6f6f;
    font-size: 12px;
    display: block;
    max-width: 100%;
    height: auto;
    width: 75px;
    max-height: 100%;
    margin-left: 6px;
    margin-right: 12px
  }

  .category-section-menu{
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
    border: 2px solid #e1e1e1;
    border-radius: 6px;
    overflow: hidden;
    display: block;
  }

  .column-category{
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .column-mobile{
    flex: none;
    width: 100%;
    display: none!important;

  }

  .img-category{
    height: auto;
    width: 75px;
    max-height: 100%;
    margin-left: 6px;
    margin-right: 12px;
    display: block;
    font-size: 12px;
    max-width: 100%;
  }

  .mcd-category-menu-item{
    padding-left: 0;
    border-left: 6px solid #ffbc0d;
    font-weight: 700;
    width: 275px;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding: 0 12px 0 6px;
    height: 80px;
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .hamburguesas, .sandwiches, .pizzas, .bebidas{
    flex: none;
    width: 100%;
    display: block;
  }

  a{
    cursor: pointer;
    text-decoration: none;
  }

  .item-hamburguesas, .item-sandwiches, .item-pizzas, .item-bebidas{
    width: 275px;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding: 0 12px 0 6px;
    height: 80px;
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .imagen-hamburguesas, .imagen-sandwiches, .imagen-pizzas, .imagen-bebidas{
    height: auto;
    width: 75px;
    max-height: 100%;
    margin-left: 6px;
    margin-right: 12px;
    font-size: 12px;
    max-width: 100%;
    display:block;
  }

  .mcd-container-detalle{
    width: 100%;
    display: block;

  }

/* #fcbc90
#fcbc90
#dbcabe 
#cecdcb
#c0d1d9
#b0d4e7
#9dd8f5 */