/* NAVBAR */

.navbarPaginas{
background-color: rgb(16, 128, 16);
padding: 10px;

}

.navbarExpand{
    background-color: rgb(10, 104, 10);
}

.itemsNavb:hover{
    position: relative;
    color: white  !important;
    text-transform:initial;
    transition: color var(--time);
	display: inline-block;
	height: 2em;
	overflow: hidden;
}

.logoNav{
    width: 8em;
}
.logoFooter{
    width: 15em;
}


/*MANTIENE EL FOOTER ABAJO SIEMPRE*/
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("https://fondosmil.com/fondo/15505.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*AGREGAR ESTA CLASE EN EL RETURN PARA QUE ESTE SIEMPRE ABAJO EL FOOTER*/
.mainSection{
    flex-grow: 1;
}


/*PAGINA ADMIN*/

.boxAdmin{
    background-color:rgba(204, 191, 70, 0.88) ;

        border-radius: 20px;
}

.boxCrear{
    background-color:rgba(204, 191, 70, 0.88) ;
    
    border-radius: 20px;
    width: 50em;
    height:fit-content;
}

.tituloAdmin{
    color: rgb(10, 104, 10);
    font-weight: 400;
    
}


.btnAgregar{
    background-color:rgb(10, 104, 10) ;
    color: white;
    font-weight: 600;
}

.btnAgregar:hover{
    color: rgb(10, 104, 10);
    background-color:white;
    font-weight: 700;
}

.btnGuardar{
    background-color:rgb(10, 104, 10) ;
    color: white;
    font-weight: 600;
    border: rgb(10, 104, 10);
}
.btnGuardar:hover{
    color: rgb(10, 104, 10);
    background-color: white;
}

/* MEDIAS QUERIES */

@media all and (max-width:756px){

    .boxCrear{
        background-color:rgba(204, 191, 70, 0.88) ;
        
        border-radius: 20px;
        width: 22em;
        height:fit-content;
    }

    .boxAdmin{
        background-color:rgba(204, 191, 70, 0.88) ;
    width: 22em;
            border-radius: 20px;
    }

    .btnAgregar{
        font-weight: 300;        
    }

    .btnAgregar:hover{
        font-weight: 300;
    }


    .linknoMostrar{
        display: none;
    }

    .logoNav{
        width: 6em;
    }
    
   
}

/* MEDIA QUERIS DE TABLA */

.boxAdmin{
    background-color:rgba(204, 191, 70, 0.88) ;
overflow-x: auto;
}








/* #fcbc90
#fcbc90
#dbcabe 
#cecdcb
#c0d1d9
#b0d4e7
#9dd8f5 */